/*
=============== 
Hero
===============
*/
/* underline added to globals */
.Hero {
  padding-top: 10rem;
  height: 73.5vh;
  background: var(--clr-grey-8);
  position: relative;
  padding: 7rem 0;
}

.HeroCenter {
  height: 100%;
  display: grid;
  align-items: center;
  /* padding: 7rem 0; */
}

.Hero .Underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
/* .HeroInfo {
  background: var(--clr-primary-5);
} */
.HeroImg {
  display: none;
}
.HeroInfo h4 {
  color: var(--clr-grey-5);
}
.HeroIcons {
  justify-items: flex-start;
}
.Hero .Btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .Hero::before {
    content: "";
    position: absolute;
    top: 21%;
    left: 55%;
    right: 1%;
    bottom: 0%;
    /* width: 100%;
    height: 100%; */
    background-size: 100% 100%;
    /* background: var(--clr-grey-3); */
    background-image: var(--gradient);
    transform: skewY(-13deg);
    transform-origin: top left;
    animation: hero-animation 30s ease infinite;
    /* border-radius: 50%; */
    box-shadow: var(--dark-shadow);
    border-radius: 10%;
  }
  .HeroCenter {
    grid-template-columns: repeat(12, 1fr);
  }

  .Hero h4 {
    font-size: 0.85rem;
  }
  .HeroInfo {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .HeroImg {
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
    box-shadow: var(--dark-shadow);
    bottom: 7%;
    left: 0%;
    height: 60%;
    width: 50%;
    border-radius: 30%;
  }
  @keyframes hero-animation {
    0% {
      background-position: 0% 30%;
    }

    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
}
@media screen and (min-width: 1170px) {
  .Hero h4 {
    font-size: 1rem;
  }

  .HeroInfo {
    grid-column: 1 / span 8;
  }

  .Hero h4 {
    line-height: 1;
  }
}

/* section */
.Section {
  padding: 5rem 0;
}

.SectionCenter {
  width: 90vw;
  margin: 1rem auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .SectionCenter {
    width: 95vw;
  }
}
.Underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
