.Footer {
  height: 10rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
}
.Footer h4 {
  margin-top: 0.5rem;
  color: var(--clr-white);
  font-weight: normal;
  text-transform: uppercase;
}
.Footer h4 span {
  color: var(--clr-primary-5);
}
